.hero {
    
    &__container {
        background-image: url('./../image/hero-bg-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        margin-bottom: 160px;
    }
    
    &__left{
        position: relative;
        
        &::before {
            position: absolute;
            display: inline-block;
            content: "";
            width: 415.5px;
            top: 0;
            left: 0;
            background-image: url("./../../image/hero-left-line.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: calc(100% - 536px) 347px;
            padding-left: 50%;
            padding-bottom: 368px;
           
            
        }
    }
    
    &__heading {
        width: 500px;
        font-family: Space Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: $white;
        margin: 0;
        padding-top: 153px;
        margin-left: 165px;
        margin-bottom: 40px;
        
        
    }
    
    &__text {
        width: 405px;
        font-family: 'Lexend Deca', 'sans-serif';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        overflow: auto;
        margin: 0;
        margin-left: 260px;
        margin-bottom: 40px;
        
    }
    
    &__link {
        display: inline-block;
        font-family: 'Space Mono', 'monospace';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        background-color: $yellow;
        padding: 14px 39px;
        color: $white;
        margin-left: 260px;
        margin-bottom: 152px;
        
        &:hover{
            color: $yellow;
            background: url(Image.png);
        }
    }
    
    &__right{
        position: relative;
        
        &::after {
            position: absolute;
            display: inline-block;
            content: "";
            width: 415px;
            height: 138px;
            background-image: url("./../image/hero-right-strelka.svg"),;
            background-repeat: no-repeat;
            background-position: calc(100% - 205px) 18px;
            background-size: contain;
            padding-right: 288px;
            padding-bottom: 18px;
            
        }
        
    }
    
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
    .hero {
        &__container{
            background-image: url("./../image/hero-bg-img@2x.jpg");
        }
        
    }

} 
