.middle {
    
    &__container {
        padding-left: 165px;
        margin-bottom: 155px;
    }
    
    &__top{
        display: flex;
        align-items: center;
        
    }
    
    
    &__left {
        width: 445px;
        min-height: 313px;
        margin-right: 90px;
    }
    
    &__heading {
        font-family: 'Space Mono', 'sans-serif';
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: $darknavy;
        margin: 0;
        margin-bottom: 24px;
    }
    
    &__text {
        font-family: 'Lexend Deca', 'sans-serif';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        color: $dimgrey;
        margin: 0;
        margin-bottom: 40px;
    }
    
    &__link {
        display: inline-block;
        min-width: 180px;
        font-family: Space Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: $white;
        padding: 14px 43px;
        background-color: $yellow;
        
        &:hover{
            color: $yellow;
            background-color: $white;
            
        }
    }
    
    &__right {
        width: 747px;
        height: 498px;
        position: relative;
        
        &::before{
            position: absolute;
            display: inline-block;
            content: "";
            width: 734px;
            height: 150px;
            background-image: url("./../image/right-strelka.svg"),;
            background-repeat: no-repeat;
            background-size: contain;
            transform: translate(-61px, 348px);
            
        }

        &::after{
            position: absolute;
            display: inline-block;
            content: "";
            width: 445px;
            height: 445px;
            background-image: url("./../../image/middle-oval.svg");
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateX(64px);

        }
    }
    
    &__right-image {
        width: 445px;
        height: 445px;
        border-radius: 50%;
        object-fit: cover;
    }
}
